.aboutContainer {
  background-color: #ecf0f19c;
  padding: 10px;
  height: 103vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  .aboutUnderline {
    height: 2px;
    width: 6rem;
    margin-bottom: 10px;
    border: 2px dashed black;
  }
  .aboutInformation {
      padding: 10px;
      .aboutInfoImg{
          img{
              border-radius: 20%;
              box-shadow: 0px 0px 10px 0px black;
          }
      }
    .aboutInfoDescribe {
      .aboutPersonalInfo {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        padding: 20px;
      }
      .aboutPersonalInfo > .personalInfo {
        min-width: 50%;
        display: flex;
        align-items: center;
        // justify-content: center;

        h5{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;

            .link{
                text-decoration: underline;
                color: #2980b9;
                opacity: .6;
                cursor: pointer;
            }
            .link:hover{
                opacity: 1;
            }
            span{
                margin-left: 8px;
                font-weight: 400;
            }
        }
      }
    }
  }
}
