

.headerContainer{
    height: 120vh;
    position: relative;

    .head,.description{
        position: absolute;
        left: 6vw;
        font-size: 4rem;
        font-weight: bold;
        color: white;
    }

    .head{
        top: 33vh;
    }
    .description{
        top: 45vh;
        width: 37vw;
        font-size: 20px;
        font-weight:450;
        padding: 1vw;
        background:rgba(70, 69, 69, 0.515)
    }
}