

.homeContainer{
    height: 100vh;
    background-image: url("../../Image/Home/ProfileImg.jpg");
    background-position: top;
    background-size:cover;
    background-repeat:no-repeat;
    overflow: auto;
    padding: 10px;
}