

.progressContainer{
    height: 1.6em;
    // padding: 20px;
    width: 40vw;
    border : .2px solid white;
    background-color: white;
    display: flex;
    align-items: center;
        border-radius: 20px;
        position: relative;
        padding: 0;
        overflow: hidden;
    .progressbar{
       position: relative;
        height: 100%;
        max-width: 100%;
        background-color: blue;
        border-radius: 20px;

        .showPercent{
            position: absolute;
            right: 8px;
            color: white;
        }
    }
    
}