.leftinnerContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;


  .profileName{
  color: #bb624c;
    
  }
  .profileImg {
    min-height: 9rem;
    min-width: 9rem;
    max-width: 9rem;
    max-height: 9rem;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      background-color: #34495e;
      border-radius: 50%;
      height: 100%;
      width: 100%;
      cursor: pointer;
      padding: 6px;
      viewport-fit: center;
    }
    img:hover{
      height: 90%;
      width: 90%;
      box-shadow: 50px 0px 40px 0px rgba(255, 68, 0, 0.357);
    }
  }
  
 
  

  .socialLinkes {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    .mediaLink {
      margin-right: 1rem;
      cursor: pointer;
      

      img,.fa {
        // border: 2px solid black;
        height: 2rem;
        width: 2rem;
        font-size: 30px;
  color: #6c5ce7;

        // border-radius: 50%;
      }
      img:hover, .fa:hover{
        padding: 6px;
        font-size: 25px;
        color: red;
      }
    }

  }

  .navList {
    width: 100%;
    font-size: 1.3rem;
    padding: 0;
    .navTab {
      margin: 6px;
      margin-bottom: 1rem;
      list-style: none;
      padding: 5px;
      padding-left: 14px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
    }

    .navTab:hover {
      background-color: #7f8c8d;
    }
  }

  .copyRights{
    width: 100%;
    .copyRightContant {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-evenly;
      margin-left: 1rem;
      width: 17rem;
      span {
        font-size: 3rem;
      }
    }
  }
}
